@mixin transition($time) {
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;

  -webkit-transition-property: background-color, color, font-size, border, filter, transform, width, background;
  -moz-transition-property: background-color, color, font-size, border, filter, transform, width, background;
  -o-transition-property: background-color, color, font-size, border, filter, transform, width, background;
  transition-property: background-color, color, font-size, border, filter, transform, width, background;
}
