@mixin transition($time) {
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;

  -webkit-transition-property: background-color, color, font-size, border, filter, transform, width;
  -moz-transition-property: background-color, color, font-size, border, filter, transform, width;
  -o-transition-property: background-color, color, font-size, border, filter, transform, width;
  transition-property: background-color, color, font-size, border, filter, transform, width;
}
