$color-white: #FFFFFF;
$color-black: #000000;
$color-light-black: #282C34;
$color-black-rgba: rgba(0, 0, 0, 0.34);
$color-green: #7CFC00;
$color-orange: #FF9900;
$color-grey: #808080;
$color-red: #FF0000;
$color-light-goldenrod-yellow: #FAFAD2;

