@import '../../scss/transition';
@import '../../scss/variables';

@mixin formField {
  width: 60%;
  margin: 0 20% 20px 16%;
  align-content: center;
  height: 30px;
  background-color: rgb(218, 255, 194);
  border-width: 0;
  border-radius: 15px;
  outline: none;
  font-size: 90%;
  padding-left: 5%;
  @include transition(.3s);

  &::placeholder {
    @include transition(.3s);
    color: black;
  }

  &:focus {
    background-color: $color-white;

    &::placeholder {
      color: transparent;
    }
  }
}

.reset-page {
  color: $color-white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    min-width: 435px;
    min-height: 260px;
    box-shadow: 0 61px 45px -50px rgba(0, 0, 0, 0.34);
    border-radius: 2px;
  }

  .reset-form {
    padding: 35px 32px 0;
    width: 490px;
    background-color: rgba(0, 0, 0, 0.8);
    caret-color: #ff9900;
    border: 3px solid #1d5f07;

    .login-field {
      @include formField()
    }

    .email-field {
      @include formField()
    }

    .password-field {
      @include formField()
    }

    .repeat-password-field {
      @include formField()
    }

    .reset-header {
      text-align: center;
      margin: 0 0 30px 0;
      color: $color-white;
      opacity: 0.5;
    }

    .text-danger {
      text-align: center;
      font-weight: bold;
      margin-top: -4%;
      color: red;
    }

    .reset-button {
      font-size: 80%;
      width: 40%;
      border-radius: 15px;
      margin: 0 30% 0 30%;
      height: 30px;
      background-color: #101010;
      border: 3px solid #1d5f07;
      color: $color-white;

      @include transition(.3s);

      &:hover {
        border: 3px solid $color-green;
        background-color: $color-black;
        cursor: pointer;
      }
    }
  }
}