.login-page {
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    min-width: 435px;
    min-height: 250px;
    box-shadow: 0 61px 45px -50px rgba(0, 0, 0, 0.34);
    border-radius: 2px;

    .login-form {
      opacity: 0.8;
      padding: 35px 32px 20px;
      width: 435px;
      background-color: #282c34;
      caret-color: #ff9900;
      border: 1px solid lawngreen;
      color: red;

      .login-field {
        width: 50%;
        margin: 0 25% 20px 25%;
        align-content: center;
        height: 30px;
        background-color: lightgoldenrodyellow;
        border-width: 0;
        border-radius: 15px;
        outline: none;
      }
      .password-field {
        width: 50%;
        margin: 0 25% 20px 25%;
        align-content: center;
        height: 30px;
        background-color: lightgoldenrodyellow;
        border-width: 0;
        border-radius: 15px;
        outline: none;
      }
      .login-button {
        width: 30%;
        border-radius: 15px;
        margin: 0 35% 20px 35%;
        height: 30px;
        background-color: black;
        border-width: 0;
        color: white;
      }
    }
  }
}
